.container-category-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  // border: 2px red solid;

  .list-video-category {
    // border: 2px blue solid;
    width: 100%;
    max-width: 1440px;
    padding: 0px 22px;
    margin-top: 42px;
  }
}
